<!--import [polymer]-->

<dom-module id="main-view">
    <template>
        <style>
            :host {

            }
        </style>

        This is the Main view!
    </template>

    <script>
        Polymer({
            is: 'main-view'
        })
    </script>
</dom-module>